﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="CreateConsumer.aspx.cs" Inherits="SuperSport.FeedACL.CreateConsumer" %>
<%@ Register src="Controls/CreateConsumer.ascx" tagname="CreateConsumer" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
    <uc1:CreateConsumer ID="CreateConsumer1" runat="server" />
</asp:Content>
