﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="ViewConsumer.aspx.cs" Inherits="SuperSport.FeedACL.ViewConsumer" %>
<%@ Register src="Controls/UpdateConsumer.ascx" tagname="UpdateConsumer" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="HeadContent" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="MainContent" runat="server">
<uc1:UpdateConsumer ID="ViewConsumer1" runat="server" />
</asp:Content>